body{
  position:relative;
}
html, body {
  height:100%;
  background:white;
}
#sitebox-login-form {
  width: 200px;
  margin: auto;
  margin-top: 100px;
  color:white;
}
#editor-frame {
  background: black;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  z-index: -2;
  overflow-y: scroll;
  overflow-x: hidden;
}
#editor {
  position:absolute;
  top:0;
  width:500px;
  z-index:-1;
  color:white;
  padding-top:50px;
  padding-left:40px;
  padding-bottom:200px;
}
#editor textarea {
  width:400px;
  height:150px;
}
#editor button {
  width:50px;
  margin-left:10px;
}
#console {
  font-family:monospace;
  background:rgba(0,0,0,.8);
  color:white;
  padding:10px;
  border-radius:5px;
}
#console p {
  margin:0; 
  padding:0;
}
#editor-save {
  position:absolute;
  top:-10px;
  left:50%;
  padding:30px;
  background:white;
  border-radius:10px;
}
body.editing {
  
}
.row {
  margin-bottom:22px;
}
.editable:hover {
  background:#eee;
}
.editable {
  border:1px solid #aaa;
  position:relative;
  z-index:1;
  box-shadow: 5px 5px 5px #888;
}
.sitebox .edit-label {
  background:#888;
}
.pagebox .edit-label {
  background:#88f;
}
.edit-label {
  left:-1px;
  top:0;
  opacity:.85;
  color:white;
  font-weight:bold;
  font-size:x-large;
  padding:5px;
  border:1px solid #888;
  position:absolute;
  z-index:2;
}
#editor h3 {
  margin-top:10px;
  background:#888;
  padding:2px;
  padding-left:10px;
  margin:2px 0;
  border-radius:5px;
  border:1px solid #888;
  width:396px;
}
#esc-to-edit {
  background:url(/assets/images/esc-to-edit.png);
  position:absolute;
  top :-10px;
  left:-10px;
  width:194px;
  height:194px;
}
#windowshade {
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  height:100%;
  width:100%;
  background:rgba(255,255,255,.78);
}
