<!DOCTYPE html>
<!-- HTML5 lets us omit unnecessary tags -->

<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-responsive.min.css"/>
<link rel="stylesheet" href="/assets/stylesheets/main.css">

<!-- Some Twitter Bootstrap Boilerplate -->
<div class="container">

  <div class="hero-unit">
  <h1>Hello World</h1>
  </div>
  
  <!-- Content will be added via javascript -->
  <div class="row">
  <div class="span4" id="nav1"></div>
  <div class="span8" id="main"></div>
  </div>
  <div class="row">
  <div class="span12">
    <div id="sub1"></div>
  </div>
  </div>

  <!-- Console Shows Log Output -->
  <div class="row">
    <div class="span12">
      <div id="console">
        <h4>Console</h4>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/current.js"></script>
