<!DOCTYPE html>
<!-- HTML5 lets us omit unnecessary tags -->

<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-responsive.min.css"/>

<!-- Some Twitter Bootstrap Boilerplate -->
<div class="container">

  <div id="hero-unit" class="sitebox hero-unit">
  <h1>Sitebox</h1>
  </div>
  
  <!-- Content will be added via javascript -->
  <div class="row">
  <div class="span4"><div class="sitebox" id="nav1"></div></div>
  <div class="span8"><div class="pagebox" id="main"></div></div>
  </div>
  
  <div class="row">
  <div class="span12"><div class="sitebox" id="footer"></div></div>
  </div>

</div>

<script src="/assets/current.js"></script>