<!DOCTYPE html>
<meta name="google-site-verification" content="34z2BUURYdEaBSiB5nnJa852c6Kejdj9T7u-HKPJCls" />
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-responsive.min.css"/>
<link rel="stylesheet" href="/assets/main.css"/>
<style class="pagebox" id="customstyle"></style>
<!-- Some Twitter Bootstrap Boilerplate -->
<div class="container">
  <div id="hero-unit" class="sitebox hero-unit">
  <h1>Sitebox</h1>
  </div>
  
  <!-- Content will be added via javascript -->
  <div class="row">
  <div class="span4"><div class="sitebox" id="nav1"></div></div>
  <div class="span8"><div class="pagebox" id="main"></div></div>
  </div>
  
  <div class="row">
  <div class="span12"><div class="sitebox" id="footer"></div></div>
  </div>

  <div id='esc-to-edit'>&nbsp;</div>
  
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://sitebox.herokuapp.com/assets/current.js"></script>